<div class="landing-class">
    <img class="landing-ad-image" width="1148"
        src="https://cdn.discordapp.com/attachments/1005877818586038424/1006521462963839016/home.png">
</div>

<style>
    .landing-class {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-ad-image {
        position: relative;
        top: -40px;
    }
</style>