<!DOCTYPE html>
<header class="navbar-container">
    <nav class="navbar">
        <div class="nav-left">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <a href="#" class="nav-branding">unica</a>
        </div>
        <button class="sign-button" onclick="()=>{window.location.href = '/register'}">Sign up</button>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Men</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Women</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Kids</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Sports</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">New</a>
            </li>
        </ul>
    </nav>
    <div class="socials">
        <a href="#" class="social-link">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="#" class="social-link">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="#" class="social-link">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
    </div>

</header>

<style>
    .social-link {
        margin: 20px;
        cursor: pointer;
    }

    .fab {
        color: black;
    }

    .socials {
        left: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    .sign-button {
        background-color: #393E47;
        color: white;
        border-radius: 5px;
        width: 160px;
        height: 60px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .nav-left {
        display: flex;
        align-items: center;
        width: 13vw;
        justify-content: space-between;
    }

    .nav-item {
        list-style: none;
        color: #000;
    }

    .nav-link,
    .nav-branding {
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
    }

    .nav-branding {
        margin-right: 3vw;
    }

    .navbar {
        min-height: 90px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        justify-content: space-between;
    }

    .nav-branding {
        font-size: 2rem;
    }

    .nav-menu {

        display: flex;
        align-items: center;
        gap: 3vw;
    }

    .nav-menu {
        position: fixed;
        left: -18%;
        top: 90px;
        gap: 0;
        height: 1vh;
        flex-direction: column;
        background-color: white;
        width: 18%;
        height: calc(100vh - 90px);
        text-align: center;
        transition: 0.3s;
    }

    .nav-link {
        transition: 0.3s ease-out;
    }

    .nav-link:hover {
        color: dodgerblue;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: black;
    }

    .search-input-div {
        border: none;
        border-radius: 10px;
        background-color: white;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-input {
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 1.2rem;
        padding-left: 20px;
        transition: 0.3s;
    }

    .search-icon {
        padding-right: 10px;
    }



    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-item {
        margin: 2vh;
    }

    .nav-menu.active {
        left: 0;
    }

    .navbar {
        justify-content: space-between;
    }
</style>

<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    })

    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }))
</script>